
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #1f1f1f;
  font-family: Arial, sans-serif;
}

.sidebar {
  background: #ef7d2c;
  width: 220px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
}

.logo {
  font-size: 18px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu-item.active {
  background: #ffffff;
  color: #000;
}

.logout {
  margin-top: auto;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  text-align: left;
}

.content {
  flex: 1;
  background: #fff;
  padding: 40px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #ef7d2c;
  border: none;
  padding: 10px 14px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.add-btn:hover {
  background: #d36c22;
}


.service-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.service-card {
  background: #f7f7f7;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.288);
}

.service-card h3 {
  margin: 0;
  font-size: 18px;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit, .delete {
  border: none;
  cursor: pointer;
}

.delete{
  background-color: rgb(221, 64, 64);
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save {
  background: #ef7d2c;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
}

.cancel {
  background: #ccc;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
}
