@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
  font-family: 'Lexend';
  src: local('Lexend'), url('./fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', 'Source Sans Pro', 'Neuton','Taviraj', Arial, Helvetica, sans-serif;
}
